# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env

# VSCode, JetBrains
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Large models & local runtime state
models/
*.onnx
*.pt
*.bin
*.sqlite
